 <!-- As a link -->
 <nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
  </nav>

  <h1 style="color: white; text-align: center;">Transaction History</h1>
  <table style="color: white ;">
    <thead>
        <tr>
            <th>Type</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
    <!-- transactions is the iterative variable and transaction is the name of the array name -->
        <tr *ngFor="let transactions of transaction ">
            <th>{{transactions.type}}</th>
            <th>{{transactions.amount}}</th>
        </tr>
       
    </tbody>
  </table>
  <br><br>
  <a routerLink="/dashboard" style="font-size: 20px;margin-left: 750px;margin-right: auto; text-align:center;">Home</a>
